.universal {
    color: cadetblue;
}

.images {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
    justify-self: auto;
}

img {
    display: flex;
    justify-self: auto;
}