header h1 {
    /* background-image: url('/images/diamonds.jpg');
    background-size: cover; */
    background-color: black;
    font-style: italic;
    font-size: 6em;
    text-align: center;
    width: 100%;
    color: gold;
    border: dotted 10px rgb(250, 23, 54);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding 15px;
    border: dotted 10px rgb(250, 23, 54);
    background-color: black;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url('/images/diamonds.jpg');
    background-size: cover;
}

.quote {
    color: gold;
    background-color:rgb(0, 0, 0);
    font-style: italic;
    font-size: 3em;
    text-align: center;
    margin: 100px;
    border: dotted 10px rgb(250, 23, 54);
}
}

.signature {
    color: gold;
    font-style: italic;
    font-size: 1em;
    text-align: right;
    margin: 0 200px;
}

#info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 75px;
    padding: 25px;
    background-color: black;
    border: dotted 10px rgb(250, 23, 54);
}


.likes {
    color: white;
    /* border: double gold 2px; */
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
}

.dislikes {
    color: white;
    /* border: double gold 2px; */
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
  }

.happy-sad {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  width: 500px;
}

